body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkgray;
}

main{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #00B7FF;
}

ul {
  display: flex;
}

li {
  text-decoration: none;
  padding-right: 20px;
  list-style-type: none;
  text-align: left;
  padding-top: 10px;
}