body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
}

a {
  color: #00B7FF;
}

ul {
  display: flex;
}

li {
  text-decoration: none;
  padding-left: 20px;
  list-style-type: none;
}