<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <%- include("../partials/nav.ejs") %>
    <h1>Enter a New Flight</h1>
  <form action="/flights" method="POST">
    <label>Airline:
    <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
    </select>
    </label><br>
    <label>Airport:
    <select name="airport">
        <option value="AUS">AUS</option><option value="DFW">DFW</option>
        <option value="DEN" selected>DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
    </label><br>
    <label>Number
        <input type="number" name="flightNo"
        min="10" max="9999">
    </label><br>
    <label>Departs:
        <input type="datetime-local" name="departs"
        min= '<%= new Date().toDateString() %>'>
    </label><br>
    <input type="submit" value="Add Flight" type="button" class="btn btn-primary">
  </form>
</body>
</html>